*{
    
    margin: 0;
    padding: 0;
}
.navbar{
    position: none;
    top:0; left: 0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    padding:2px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
}
.logo{
    width: 0px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 1, 1);
    font-family: sans-serif;
}
body, html{ 
    height: 100%;  
}
.navbar ul li ::after{
    content: '';
    height: 2px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover ::after{
    width: 100%;
}

.content{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5)10%,rgba(0,0,0,0.5)10%), url(images/ministerious.jpg) no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: rgb(189, 107, 14);
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.content{
    width: 100%;
    height: 100%;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 800px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
section {
    padding: 5rem 9%;
  }
  
  .heading {
    text-align: center;
    font-size: 6vw;
    color: rgb(241, 35, 35);
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .heading span {
    text-transform: uppercase;
    color: #376e3c;
  }
  .contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .contact .row .info-container {
    width: 10rem;
  }
  
  .contact .row .info-container h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(240, 52, 52);
    padding-bottom: 7px;
  }
  
  .contact .row .info-container p {
    font-size: 1rem;
    line-height: 1;
    color: rgb(95, 190, 69);
    padding: 1rem 0;
  }
  
  .contact .row .info-container .box-container {
    padding: 1rem 0;
  }
  
  
  .contact .row .info-container .box-container .box i {
    font-size: 1rem;
    color: #13bda0;
  }
  
  .contact .row .info-container .box-container .box h3 {
    font-size: 1rem;
    color: rgb(231, 15, 15);
  }
  
  .contact .row form .inputBox {
    display: flex;
    justify-content: space-between;
  }
  
  .contact .row form .inputBox input {
    width: 39%;
  }
  
  .contact .row form .inputBox input,
  .contact .row form textarea {
    border-radius: 1rem;
    padding: 1.1rem 1.1rem;
    font-size: 1.6rem;
    color: rgb(252, 252, 252);
    text-transform: none;
    margin: .7rem 0;
    background: #978484;
  }
  
  .contact .row form textarea {
    width: 80%;
    border-radius: 1rem;
    resize: none;
    height: 10rem;
  }
  
  .contact .row form .btn:hover {
    background: rgb(249, 35, 35);
    color: #0d0d0d;
  }  


















  @media (max-width: 768px) {
    .heading {
      font-size: 12vw;
    }
    .contact .row form .inputBox input {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }